body{
    background-color: black;
    width: 800px;
    margin: 0 auto
}

body *{
    box-sizing: border-box;
}

.header {
    background-color: rgb(39, 39, 110);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.header p{
    font-weight: 700;
}

.header ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 15px;
}

.title-image{
    background-color: rgb(39, 39, 110);
    color: white;
    display: flex;
    gap: 20px;
    padding: 15px;
}

.title-image *{
    flex-grow: 1;
    padding: 10px;
}

.title-left{
    width: 0px;
}

.title-left button{
    margin-left: 10px;
    background-color: blue;
    color: white;
}

.title-left h2{
    font-size: 28px;
}

.image{
    background-color: gray;
    color: blue;
    width: 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


main{
    background-color: white;
    padding-bottom: 25px;
}

.random{
    padding: 10px;
}

.random h2{
    text-align: center;
}

.boxes{
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 8%;
    margin: 0 auto;
}

.box div{
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 10px;
    border: blue solid 4px;
}

.box p {
    width: 110px;
}

.inspiration{
    background-color: lightgray;
    padding: 30px;
}

.quote{
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
}

.thor{
    width: 70%;
    text-align: right;
    margin: 10px auto;
    font-weight: 700;
}

.contact{
    display: flex;
    width: 70%;
    margin: 25px auto;
    background-color: rgb(62, 147, 245);
    padding: 15px;
    gap: 20px;
    border-radius: 10px;
}

.call-text{
    color: white;
    font-weight: 600;
    width: 0;
    flex: 2;
}

.button{
    width: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button{
    padding: 6px;
}


footer{
    background-color: rgb(39, 39, 110);
}

footer p{
    text-align: center;
    color: white;
    padding: 10px;
    margin: 0;
}

button {
    border-radius: 10%;
    border: none;
}