

body *{
    box-sizing: border-box;
    
}

.header {
    background-color: red;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 15px;
}
